

<ion-view title="Book">

  <ion-content class="padding" id="bg-a">

      <ion-list>
        <ion-item class="item-icon-left">
             <i class="icon ion-card"></i>
            <h2>{{result.agency}}</h2>
        </ion-item>
        <ion-item class="item-icon-left">
            <i class="icon ion-pricetag"></i>
            <h3>N{{result.price}}</h3>
        </ion-item>
        <ion-item class="item-icon-left">
            <i class="icon ion-calendar"></i>
              <h2>{{result.pickup_date}}</h2>
            <h2>{{result.pickup_time}}</h2>
        </ion-item>
        <ion-item class="item-icon-left item-text-wrap">
              <i class="icon ion-location"></i>
              Drop Off Address : {{ result.dropoff_location}}
        </ion-item>
        <ion-item class="item-icon-left item-text-wrap">
              <i class="icon ion-location"></i>
              Pick Up Address : {{ result.pickup_location}}
        </ion-item>
        <ion-item>
            <a class="button button-block button-dark" href="#/app/pay/{{result.id}}">Proceed</a>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
