

<ion-view class="padding" title="Send Feedback" id="bg-a">
  <ion-content class="list list-inset">
     
      <ion-list>
        <ion-item class="item-text-wrap">
          We'll love to hear from you. Send your feedback to us on:
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-email"></i>suggestion@trav.com.ng
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-call"></i>090 3344 9024
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-social-whatsapp-outline"></i>090 3344 9024
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
