<ion-header-bar class="bar bar-dark">
    <button class="button button-icon ion-arrow-return-left" ng-click="goBack()"></button>
    <h1 class="title">Contact</h1>
    <button class="button button-icon ion-share"></button>
</ion-header-bar>

<ion-view class="padding" title="Contact" id="bg-a">
  <ion-content class="list list-inset">
      <!--<form class="form">
          <label class="item item-input">
              <input type="text" placeholder="Title"  />
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Message" />
          </label>

      </form>-->
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-email"></i>contact@trav.com.ng
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-call"></i>090 3344 9024
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-social-whatsapp-outline"></i>090 3344 9024
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
