<ion-header-bar class="bar bar-dark">
    <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Details</h1>
    <button class="button button-icon ion-share"></button>
</ion-header-bar>

<ion-view class="padding">
  <ion-content>
      <form class="form">
          <label class="item item-input">
              <input type="text" placeholder="Title" />
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Message" />
          </label>

      </form>
  </ion-content>
</ion-view>
