
<ion-view class="padding" title="Help" id="bg-a">
  <ion-content class="list list-inset">
      
      <ion-list>
      	<ion-item class="item-icon-left">
          Trav
        </ion-item>
        <ion-item class="item-icon-left">
           version 1.0
        </ion-item>
        <ion-item class="item-text-wrap">
        	For any question,support or enquiry. You can contact us on : 
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-email"></i>hello@trav.com.ng
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-call"></i>090 3344 9024
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-social-whatsapp-outline"></i>090 3344 9024
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
