

<script src="lib/ion-autocomplete/dist/ion-autocomplete.js"></script>
<link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet">

<!--<ion-header-bar class="bar bar-dark">
    <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Home</h1>
    <button class="button button-icon ion-search" ng-click="travelSearch(travel.location,travel.destination,travel.date)"></button>
</ion-header-bar>-->

<ion-view title="Home">
  <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-search" ng-click="travelSearch(travel.location,travel.destination,travel.date)"></button>
  </ion-nav-buttons>



  <ion-content class="padding" id="bg-a">
      <form>
         <div class="list">
             <label class="item item-input">
                  <!--<input type="text" ng-model="travel.location" placeholder="From" required/>-->
                  <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" items-method="callBackMtd()" ng-model="travel.location"
                  placeholder="From" required max-selected-items="1"
                  />
              </label>
              <label class="item item-input">
                  <!--<input type="text" ng-model="travel.destination" placeholder="To" required/>-->
                   <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" items-method="callBackMtd()" ng-model="travel.destination"
                  placeholder="To" required max-selected-items="1"
                  />
              </label>
              <label class="item item-input" ng-click="openDatePicker()">
                  <input type="text" ng-model=" travel.date " placeholder="Date" required/>

              </label>

             
          </div>
      </form>

    

      
    </ion-content>
</ion-view>
