

<ion-view id="bg-a" title="Login To Your Account" hide-nav-bar="true">


  <ion-content class="padding has-subheader">
    
    <form>
      <div class="list">

        <label class="item item-input">
          <input type="text" ng-model="loginData.phoneNo" placeholder="Phone Number">
        </label>

        <label class="item item-input">
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <div class="row">
          <div class="col col-*"></div>
          <div class="col col-40">
            <span ng-click="showForgotPassword()" style="text-align:center;" class="text-center">Forgot Password?</span>
          </div>
          <div class="col col-*"></div>
        </div>
         
      </div>

        <button class="button button-positive button-full " ng-click="Login(loginData.phoneNo,loginData.password)">Sign In</button>

      </div>
    </form>

    <div class="row">
         <div class="col col-*"></div>
         <div class="col col-75">
            <span ng-click="openRegisterView()" >Don't Have an account ? Sign up</span>
         </div>
         <div class="col col-*"></div>
    </div>

  </ion-content>
</ion-view>
