<ion-header-bar class="bar bar-dark">
  <button class="button button-icon ion-navicon" menu-toggle="left"></button>
  <h2 class="title">Next Of Kin</h2>
    <button class="button button-icon ion-load-a"></button>
</ion-header-bar>

<ion-view class="padding">
  <ion-content  class="list list-inset">
    <ion-list>

      <form class="form">
        <label class="item item-input">
          <input type="text" placeholder="Next Of Kin's Full Name"/>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Next Of Kin's Phone Number"/>
        </label>
      </form>

    </ion-list>
  </ion-content>
</ion-view>
