<ion-view class="has-subheader padding" id="bg-a" title="Payment">
  <ion-content class="padding">
      <ion-list>
        <ion-item class="item item-divider">
          <h2>User Details</h2>
        </ion-item>
        <ion-item>
          <h3 id="fullName">
            {{fullName}}
          </h3>
        </ion-item>
        <ion-item>
          <h3 id="emailAddress">
            {{emailAddress}}
          </h3>
        </ion-item>
        <ion-item>
          <h3 id="phoneNumber">
            {{phoneNumber}}
          </h3>
        </ion-item>
      </ion-list>


        <ion-list class="list">
          <label class="item item-input item-divider">
            <h2>Select A Payment Mode</h2>
          </label>
          <ion-item>
              <button class="button button-assertive button-small" ng-click="openPaymentForm()">Pay Now</button>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item class="item item-divider">
            <h2>Travel Details</h2>
          </ion-item>
          <ion-item>
            <h3 id="agency">{{result.agency}}</h3> 
            <span id="travelplan_id">{{result.travelplan_id}}</span>
          </ion-item>
          <ion-item>
            <h3>
              <span id="location">{{result.location}}</span> 
              To 
              <span id="destination">{{result.destination}}</span>
            </h3>
          </ion-item>
          <ion-item>
            <h3 >{{result.pickup_location}}</h3>
          </ion-item>
          <ion-item>
            <h3>{{result.dropoff_location}}</h3>
          </ion-item>
          <ion-item>
            <h3>N<span id="price">{{result.price}}</span></h3>
          </ion-item>
           <ion-item>
            <h3>{{result.pickup_time}}</h3>
          </ion-item>
          <ion-item>
            <h3>{{result.pickup_date}}</h3>
          </ion-item>
        </ion-list>

  </ion-content>
</ion-view>
