<ion-view  id="bg-a" title="Profile">
   <ion-nav-buttons side="Secondary">
      <button class="button button-icon ion-edit" ng-click="editProfile()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
      <ion-list class="list list-inset">
        <ion-item class="item-divider">
          User Details
        </ion-item>
        <ion-item class="item-button-right">
          {{fullName}}

        </ion-item>
        <ion-item class="item-button-right">
          {{phoneNumber}}
         
        </ion-item>
        <ion-item class="item-button-right">
          {{emailAddress}}
            
        </ion-item>

        <ion-item class="item-divider item-button-right" >
          Next Of Kin Details
          
        </ion-item>
        <ion-item>
          {{kinName}}
        </ion-item>
        <ion-item>
        {{kinPhoneNumber}}
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
