<ion-view id="bg-a" title="Register">

  <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-person-add" ng-click="Register(loginData.fullName,loginData.emailAddress,loginData.phoneNumber,loginData.password)"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader padding">
    <form >
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="loginData.fullName" placeholder="Full Name">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="loginData.emailAddress" placeholder="Email Address">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="loginData.phoneNumber" placeholder="Phone Number">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>

      </div>
    </form>
    <!--<ion-list>
      <ion-item class="title">
          <a href="#/app/login" class="button button-small button-balanced">Login To Your Account</a>
      </ion-item>
    </ion-list>-->


  </ion-content>
</ion-view>
