<ion-header-bar class="bar bar-dark">
  <button class="button button-icon ion-navicon" menu-toggle="left"></button>
  <h2 class="title">Reset Password</h2>

</ion-header-bar>

<ion-view class="padding">
  <ion-content  class="list list-inset">
    <ion-list>

      <form class="form">
        <label class="item item-input">
          <input type="text" placeholder="Your Old Password"/>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Your New Password"/>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="New Password Again"/>
        </label>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
