<ion-view title="Tickets">
  <ion-content  class="padding" id="bg-a">
        <ion-list class="list" >
            <ion-item ng-repeat="ticket in tickets | filter:query">
                <div>{{ticket.agency}}</div>
                <h3>From : {{ ticket.location }} </h3>
                <h3>To : {{ ticket.destination }} </h3>
                <h3>Price : N{{ticket.price}}</h3>
                <h3>Date : {{ticket.date}}</h3>
                <h3>Time : {{ticket.time}}</h3>
                
                <a href="#/app/ticket/{{ticket.token}}" class="button button-small buttton-dark">View Details</a>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>

