<ion-header-bar class="bar bar-dark">
    <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Results</h1>
    <button class="button button-icon ion-search" menu-toggle="right"></button>
</ion-header-bar>

<div class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-search"></i>
    <input type="text" placeholder="Filter..." ng-model="query"/>
  </label>
</div>

<ion-content class="has-subheader padding" id="bg-a">
    

</ion-content>
